<p id="notice"><%= notice %></p>

<h1>登録しているバンド</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>バンド名</th>
      <th>サムネイル</th>
      <th>説明</th>
      <th>ジャンル</th>
      <th>活動地域</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td>
          <% if band.image? %>
            <div class="thumbnail">
              <%= image_tag band.image.url %>
            </div>
          <% end %>
        </td>
        <td><%= band.description %></td>
        <td><%= render 'bands/tag_list', tag_list: band.genre_list %></td>
        <td><%= band.prefecture %></td>
        <td><%= link_to 'Show', band, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_band_path(band),  class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', band, class: "btn btn-default",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band', new_band_path %>
