<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Image:</strong>
  <% if @band.image? %>
    <div class="thumbnail">
      <%= image_tag @band.image.url %>
    </div>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
